.header {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;

	max-width: $maxWidth;
	height: 60px;
	margin: 0 auto;

	@media landscapeTablet {
		height: 105px;
	}
}

.header-logo {
	flex-shrink: 0;
}
