mixin quiz(data)
    .section.section--intro
        .section-container
            .section-header
                h2.section-title Как хорошо вы разбираетесь в новостях бизнеса
                .section-desc По следам публикаций на vc.ru.
            .section-button
                button(type='button').button.button--medium.button--action Начать
