// Base
$font-size-root = 18px;
$primaryFont = 'Roboto', Helvetica, Arial, sans-serif;
// Media
$mobileWidth = 520px;
portraitTabletWidth = 768px;
$landscapeTabletWidth = 1000px;
$desktopWidth = 1200px;
$wideDesktopWidth = 1600px;
mobile = 'only screen and (min-width $mobileWidth)';
desktop = 'only screen and (min-width $desktopWidth)';
wideDesktop = 'only screen and (min-width $wideDesktopWidth)';
$maxWidth = 1380px;
mobileMax = 'only screen and (max-width 512px)';
$maxPortrait = 'only screen and (max-width 767px)';
$maxLandscape = 'only screen and (max-width 1023px)';
portraitTablet = 'only screen and (min-width portraitTabletWidth)';
landscapeTablet = 'only screen and (min-width $landscapeTabletWidth)';
landscapeTabletMax = 'only screen and (max-width 999px)';
// Colors
$garnet = #D54118;
$blue = #01A8E3;
$pink = #F34287;
$body-bg = #FEEBEF;
$font-color = #000;
$brand-primary = #000;
$brand-secondary = #999;
$link-color = 'blue';
$link-color-hover = #000dec;
